{% if todos %}

<div class="card" style="width: 35rem;">
    <ul class="list-group list-group-flush">
        {% for todo in todos %}
        <li class="list-group-item">
            <div class="container">
                <form class="row d-flex justify-content-between align-items-start">
                    <div class="col-1">
                        <input class="form-check-input"
                            type="checkbox" "{% if todo.complete %} checked {% endif %}"
                            hx-get="{% url 'mark_todo' todo.pk %}" hx-target="#todoList" style="cursor: pointer;">
                    </div>
                    <div class="col-10 text-truncate {% if todo.complete %} text-decoration-line-through {% endif %}"
                         hx-get="/edit_todo/{{ todo.id }}/"
                         hx-target="closest form" style="cursor: pointer;">
                        {{ todo.description }}
                    </div>
                    <div class="col-1">
                        <span class="action badge rounded-pill text-bg-danger"
                            hx-delete="{% url 'delete_todo' todo.pk %}" hx-target="#todoList"
                            style="cursor: pointer;">X</span>
                    </div>
                </form><!--hx-confirm="Are you sure you wish to delete?"-->
                <div class="row d-flex">
                    <div class="col-4">
                        <div
                            class="fst-italic badge bg-primary text-wrap {% if todo.complete %} text-decoration-line-through {% endif %}">
                            {{ todo.created_at }}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% else %}

<h5>No todos yet!</h5>

{% endif %}